# Import Ticker Data

In [1]:
import os
import requests

import pandas as pd
import pandas_datareader as pdr

In [2]:
ticker = 'FB'
start_date = '2000'
end_date = ''

### Retrieve Prexisting List With Technical Indicators

In [3]:
files = os.listdir('data/stocks')
stocks = {}
for file in files:
    if file.split('.')[1] == 'csv':
        name = file.split('.')[0]
        stocks[name] = pd.read_csv('data/stocks/'+file, index_col='Date')
        stocks[name].index = pd.to_datetime(stocks[name].index)

In [4]:
print('List of stocks: ', end = ' ')
for i in stocks.keys():
    print(i.upper(), end=' ')

List of stocks:  AMZN MSFT FB TSLA GOOGL GOOG AAPL

### Retrieve Prexisting List of Raw Stock Data

In [5]:
files = os.listdir('data/raw_stocks')
stocks = {}
for file in files:
    if file.split('.')[1] == 'csv':
        name = file.split('.')[0]
        stocks[name] = pd.read_csv('data/raw_stocks/'+file, index_col='Date')
        stocks[name].index = pd.to_datetime(stocks[name].index)

---
# Import New Ticker Data
---

In [6]:
print('List of stocks: ', end = ' ')
for i in stocks.keys():
    print(i.upper(), end=' ')

List of stocks:  AMZN MSFT FB TSLA GOOGL GOOG AAPL

In [7]:
# stock_df = pdr.get_data_yahoo(ticker, start_date, end_date)
stock_df = pdr.get_data_yahoo(ticker, start_date)

In [8]:
stock_df.to_csv('data/raw_stocks/'+ticker.upper()+'.csv')

In [9]:
stock_df.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-03-22,219.460007,210.179993,211.369995,216.649994,31998800,216.649994
2022-03-23,216.800003,212.160004,213.330002,213.460007,23717300,213.460007
2022-03-24,220.669998,214.789993,215.000000,219.570007,31502300,219.570007
2022-03-25,225.500000,218.889999,220.509995,221.820007,40010500,221.820007
2022-03-28,224.039993,219.550003,222.130005,223.589996,25548702,223.589996

In [10]:
print('No Missing Data') if sum(stock_df.isna().sum())==0 else stock_df.isna().sum()

No Missing Data